body {
  margin:0;
}
a {
      color:black;
  text-decoration:none;
}
h1 {
  font-size: 30px;
  text-align: center;
  border-bottom: 2px solid black;
  margin:0;
  padding: 15px;
}
h2 {
  margin:0;
}

#logo {
  vertical-align:middle;
  width: 40px;
  height: 46px;
  margin-right: 10px;
}

#grid ol {
  line-height: 150%;
  border-right: 2px solid black;
  width:80px;
  text-indent: 3px;
  margin:0;
  padding:10px 0px 10px 35px;
}
#grid{
  display: grid;
  grid-template-columns: 120px 1fr;
  position: relative
}
#gridB{
  padding:25px
}
@media(max-width:800px) {
  #grid{
    display: block;
  }
  #grid ol {
    border:none;
  }
}
#night_day {
  width:55px;
  font-size: 15px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  border: 0;
  outline: 0;
  display: inline;
  position: absolute;
  left: 25px;
}
